[Unit]
Description=ruvchain default config generator
ConditionPathExists=|!/etc/ruvchain/ruvchain.conf
ConditionFileNotEmpty=|!/etc/ruvchain/ruvchain.conf
Wants=local-fs.target
After=local-fs.target

[Service]
Type=oneshot
Group=ruvchain
StandardOutput=file:/etc/ruvchain/ruvchain.conf
ExecStart=/usr/bin/ruvchain -genconf
ExecStartPost=/usr/bin/chmod 0640 /etc/ruvchain/ruvchain.conf
